/* .main {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    text-align: center;
}

h3, p, button{
    margin: 15px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: large;
}

.card {
    border: 3px solid black;
    width: 25%;
    background-color: aqua;
}

.card > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
} */

* {
    margin: 0;
    padding: 0;
}

/* 
ul {
    background-color: gray;
    height: 30px;
    padding-top: 10px;
}

ul > li {
    display: inline-block;
    text-align: center;
    width: 150px;
} */


.main {
    display: flex;
    justify-content: center;
    gap: 10%;
    height: 50px;
    align-items: center;
}


.icons {
    width: 10%;
    display: flex;
    justify-content: space-around;
}